.press-btn {
    @apply transition-transform duration-150 ease-out active:scale-95;
}

.control-btn {
    @apply flex items-center justify-center relative w-[64px] h-[64px];
    box-shadow: 0 0 10px #d7452c;
}

.control-btn div {
    @apply absolute left-0 top-0 z-1 flex items-center justify-center bg-black-main border-4 border-orange-main w-full h-full cursor-pointer;
}

.control-btn span {
    @apply absolute right-[-3px] top-[3px] w-full h-full z-0 block bg-orange-main;
}

.tonearm-out {
    transition: .25s;
    animation: tonearm-out .25s ease-in-out;
    transform: rotate(40deg); 
}

.tonearm-in {
    transition: .25s;
    animation: tonearm-in .25s ease-in-out;
    transform: rotate(6deg);
}

.disk-playing {
    animation: disk-playing 10s linear infinite;
}

.disk-stop {
    animation: disk-stop .25s ease-in-out;
}


@keyframes tonearm-out {
    0% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(40deg);
    }
}

@keyframes tonearm-in {
    0% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(6deg);
    }
}

@keyframes disk-playing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes disk-stop {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
