@theme {
    /* text: text-orange-main, text-white-main, text-gray-main, text-black-main */
    /* background: bg-black-main, bg-white-main, gradient — bg-gradient-1 */
    /* border: border-orange-main */

    --color-orange-main: #d7452c;
    --color-white-main: #fffee9;
    --color-black-main: #181818;
    --color-gray-main: #999999;
  
    --background-image-gradient-1: linear-gradient(to right, #251f1f 30%, #44403d 100%);
}